.display {
  // position: absolute;
  // top: size(110);
  // left: size(80);
  z-index: 19;
  display: flex;
  width: 80%;
  height: 6rem;
  margin: 0 auto;
  background: white;
  justify-content: space-around;
  align-items: center;
  border-radius: 15px;
  .display-items {
    .display-title {
      font-size: 0.6rem;
      font-weight: bold;
      color: $DarkGray;
    }
    .display-content {
      font-size: 1.3rem;
      color: $VeryDarkGray;
      font-weight: bold;
    }
  }
}
