.background {
  background-image: url("../../images/topography.svg");
  /*
  Using absolute position to change the opacity of html image element
  position: relative;
  .heading {
    &-image {
      // opacity: 0.2;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: auto;
    }
  */
  .heading {
    width: max-content;
    margin: 0 auto;
    h2 {
      text-align: center;
      padding-top: 1rem;
      margin-bottom: 1rem;
      color: white;
    }
    #ip-search {
      width: size(380);
      height: 2.2rem;
      padding: 0 size(16);
      border-top-left-radius: size(12);
      border-bottom-left-radius: size(12);
      border-width: 0;
      &:focus {
        // This will remove the border while clicking
        outline: none;
      }
    }
    button {
      background-color: Black;
      height: 2.2rem;
      width: 2.8rem;
      color: white;
      font-weight: bold;
      border-top-right-radius: size(12);
      border-bottom-right-radius: size(12);
      margin-left: -4px;
      // This removes the weird shadow on the button
      border: 0.5px solid black;
      &:hover {
        background-color: $LightBlack;
      }
      &:active {
        background-color: rgb(39, 39, 39);
      }
    }
  }
}
