.background {
  background-image: url("../../images/topography.svg");
  /*
  Using absolute position to change the opacity of html image element
  position: relative;
  .heading {
    &-image {
      // opacity: 0.2;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: auto;
    }
  */
  .heading {
    width: max-content;
    margin: 0 auto;
    h2 {
      text-align: center;
      padding-top: 1rem;
      margin-bottom: 1rem;
      color: white;
    }
    #ip-search {
      width: size(380);
      height: 2.2rem;
      padding: 0 size(16);
      border-radius: size(12);
      border-width: 0;
    }
    button {
      background-color: $LightBlack;
      height: 2.2rem;
      width: 2.8rem;
      color: white;
      font-weight: bold;
      border-radius: size(12);
    }
  }
}
