$VeryDarkGray: hsl(0, 0%, 17%);
$DarkGray: hsl(0, 0%, 59%);
$DarkBlue: #5057b1;
$LightBlue: #87a5f8;
$LightBlack: #3f3f3f;

//Font-size
$font-sm: size(14);
$font-med: size(16);
$font-lg: size(20);
$font-xlg: size(52);
